%h1 培训课程

%table
  %tr
    %th 培训名称
    %th 培训时间
    %th 学分
    %th 课时
    %th 组织单位
    %th 状态
    %th 提交人
    %th

  - @train_courses.each do |train_course|
    %tr
      %td= train_course.name
      %td= train_course.start_date
      %td= train_course.points
      %td= train_course.hours
      %td= train_course.organizer
      %td= train_course.status
      %td= train_course.register.email
      %td
        = link_to '学员登记', '#'
        = link_to '查看', train_course
        = link_to '编辑', edit_train_course_path(train_course)
        = link_to '删除', train_course, :method => :delete, :data => { :confirm => '删除课程后，改课程学分记录也一并删除，确定删除吗?' }

%br

= link_to '新建培训课程', new_train_course_path, class: 'btn btn-primary active'
